@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: #222;
  background-color: #f3f3f3;
}

h1 {
  color: #3b82f6;
  font-size: 64px;
  font-weight: 800;
}

h2 {
  color: #3b82f6;
  font-size: 32px;
  font-weight: 800;
}

h3 {
  color: #222;
  font-size: 30px;
  font-weight: 600;
}

h4 {
  font-size: 20px;
  font-weight: 600;
}

p {
  color: #222;
  font-size: 24px;
  font-weight: 400;
}

 a, link {
  color: #3b82f6;
  font-size: 24px;
  font-weight: 800;
 }

 a:hover, Link:hover {
  text-decoration-line: underline;
  text-decoration-thickness: 3px ;
 }

  b { 
    color: #3b82f6;
  }

  #card {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(176,229,208,1) 42%, rgba(92,202,238,0.41) 93.6% );
  }